<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIST</title>
  <link rel="stylesheet" href="/style.css">
</head>
<!-- <%= JSON.stringify(posts) %> -->
<body class="grey-bg">
  <!-- include 문법 사용할 때 => <%- %> -->
  <%- include('nav.ejs') %>

  <div class="white-bg">
    <!-- html 사이에 JavaScirpt 문법 사용할 때 => <% %> -->
    <% for(let i = 0; i < posts.length; i++) { %>
      <div class="list-box">
        <h4>
          <a href="/detail/<%- posts[i]._id%>">
            <%= posts[i].title %>
          </a>
          <a href="/edit">📝</a>
        </h4>
        <p><%= posts[i].content %></p>
      </div>
    <% } %>
  </div>
</body>
</html>
