<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIST</title>
  <link rel="stylesheet" href="/style.css">
</head>
<!-- <%= JSON.stringify(posts) %> -->
<body class="grey-bg">
  <!-- include λ¬Έλ²• μ‚¬μ©ν•  λ• => <%- %> -->
  <%- include('nav.ejs') %>

  <div class="white-bg">
    <!-- html μ‚¬μ΄μ— JavaScirpt λ¬Έλ²• μ‚¬μ©ν•  λ• => <% %> -->
    <% for(let i = 0; i < posts.length; i++) { %>
      <div class="list-box">
        <h4>
          <a href="/detail/<%- posts[i]._id %>">
            <%= posts[i].title %>
          </a>
          <a href="/edit/<%- posts[i]._id %>">π“</a>
          <span class="delete" data-id="<%= posts[i]._id %>">β</span>
        </h4>
        <p><%= posts[i].content %></p>
        <img width="80px" src="<%= posts[i].img %>" alt="">
      </div>
    <% } %>
  </div>
  <a href="/list/next/<%= posts[posts.length-1]._id %>">Next</a>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // axios.get('url').then((r) => {console.log(r)}).catch(() => {})

    // μ‚­μ  λ²„νΌ ν΄λ¦­μ‹ ajaxλ΅ μ”μ²­
    for(let i = 0; i < '<%= posts.length %>'; i++) {
      document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
        console.log(e.target.dataset.id)
        // query stringμΌλ΅ μ„λ²„λ΅ λ°μ΄ν„° μ „μ†΅
        fetch('/delete?docid=' + e.target.dataset.id, {
        method : 'DELETE'
        })
          // μ„λ²„κ°€ λ³΄λ‚΄λ” κ² λ¬ΈμμΌ κ²½μ° => .text()
          // μ„λ²„κ°€ λ³΄λ‚΄λ” κ² object / arrayμΌ κ²½μ° => .json()
          .then((r) => r.text())
          .then((r) => {
            e.target.parentElement.parentElement.style.display = 'none';
            if(r.status == 200) {
              return r.json()
            } else {
              // μ„λ²„κ°€ μ—λ¬μ½”λ“ μ „μ†΅μ‹ μ‹¤ν–‰ ν•  μ½”λ“
            }
          // ν΄λΌμ΄μ–ΈνΈ μ‚¬μ΄λ“ λλ”λ§ (μƒλ΅κ³ μΉ¨ μ—†μ΄ μƒμ„±) => React.js
          // html λ™μ  μƒμ„±
        })
        .then((result) => {
          // μ„±κ³µμ‹ μ‹¤ν–‰ ν•  μ½”λ“
        }).catch((error) => {
          // μΈν„°λ„· λ¬Έμ  λ“±μΌλ΅ μ‹¤ν¨μ‹ μ‹¤ν–‰ ν•  μ½”λ“
        })
      })
    }
  </script>
</body>
</html>
